body {
    background-image: url(assets/new2.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

#app {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    margin: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

h1 {
    margin: 0 0 20px 0;
}

.settings,
.controls {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.time-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-input input {
    width: 60px;
    padding: 10px;
    margin: 0 5px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
}

.time-input span {
    font-size: 20px;
    color: white;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    transition: background 0.3s ease;
}

button:hover {
    background: rgba(255, 255, 255, 0.4);
}

#timer {
    font-size: 48px;
    margin: 20px 0;
}

@media (max-width: 600px) {
    body {
        padding: 20px;
    }

    #app {
        padding: 15px;
    }

    .time-input input {
        width: 50px;
        padding: 8px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }

    #timer {
        font-size: 36px;
    }
}

.controls {
    display: flex;
    justify-content: center;
    /* Pusatkan konten */
    margin-top: 20px;
}

#stop-alarm {
    margin-left: 10px;
    /* Memberikan jarak antara tombol */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    transition: background 0.3s ease;
}

#stop-alarm:hover {
    background: rgba(255, 255, 255, 0.4);
}